    /* For WebKit browsers (Chrome, Safari) */
    input[type="password"]::-webkit-contacts-auto-fill-button,
    input[type="password"]::-webkit-credentials-auto-fill-button {
      visibility: hidden;
      display: none !important;
      pointer-events: none;
      position: absolute;
      right: 0;
    }

    /* For Microsoft Edge */
    input[type="password"]::-ms-reveal {
      display: none;
    }

    /* For Firefox */
    input[type="password"] {
      appearance: textfield;
      -moz-appearance: textfield;
    }

    @font-face {
      font-family: 'Zain';
      font-style: normal;
      font-weight: 300;
      src: url('/fonts/Zain-Light.ttf') format('truetype');
      font-display: swap;
    }

    @font-face {
      font-family: 'Zain';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/Zain-Regular.ttf') format('truetype');
      font-display: swap;
    }

    @font-face {
      font-family: 'Zain';
      font-style: normal;
      font-weight: 700;
      src: url('/fonts/Zain-Bold.ttf') format('truetype');
      font-display: swap;
    }