    /* For WebKit browsers (Chrome, Safari) */
    input[type="password"]::-webkit-contacts-auto-fill-button,
    input[type="password"]::-webkit-credentials-auto-fill-button {
      visibility: hidden;
      display: none !important;
      pointer-events: none;
      position: absolute;
      right: 0;
    }

    /* For Microsoft Edge */
    input[type="password"]::-ms-reveal {
      display: none;
    }

    /* For Firefox */
    input[type="password"] {
      appearance: textfield;
      -moz-appearance: textfield;
    }
